*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 50%;
}


.product{
    width: calc(100% / 3);
    border: 1px solid black;
    display: inline-block;
}

.product img{
    width: 100%;
}