*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 50%;
}


.product{
    width: calc(100% / 3);
    display: inline-block;
    position: relative;
    border: 1px solid black;
}

.product img{
    width: 100%;
}

.discount{
    font-size: small;
    position: absolute;
    color: white;
    background-color: red;
    left: 0;
    bottom: 5%;
}

.heart{
    font-size: 20px;
    position: absolute;
    background-color: white;
    right: 0;
    top: 5%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}