*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 50%;
}


.product{
    width: calc(100% / 3);
    display: inline-block;
    position: relative;
    border: 1px solid black;
}


.show{
       width: 100%;
    }

.discount{
    font-size: small;
    position: absolute;
    color: white;
    background-color: red;
    left: 0;
    bottom: 12%;
}

.heart{
    font-size: 20px;
    position: absolute;
    background-color: white;
    right: 0;
    top: 5%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.sostenibilita{
    position: absolute;
    color: white;
    background-color: rgb(0, 135, 90);
    bottom: 12%;
    left: 12%;
    font-size: small;
}

.sostenibilita_2{
    position: absolute;
    color: white;
    background-color: rgb(0, 135, 90);
    bottom: 12%;
    left: 0%;
    font-size: small;
}

.hidden{
    display: none;
    width: 100%;
    top: 0%;
}

.product:hover .hidden{
    display: block;
}

.product:hover .show{
    display: none;
}

.mark{
    font-size: thin;
}

.red_price{
    font-size: 15px;
    color: red;
}

.black_pirce{
    font-size: 15px;
}
